<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">
<title>欢迎光临紫塞先锋</title>
<link href="__TOUPIAO2__/common.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="__TOUPIAO2__/style.css">
<script src="__TOUPIAO2__/jquery-1.9.1.min.js"></script>
<script src="__TOUPIAO2__/TouchSlide.1.1.js"></script>
<!--<base target="_self">--><base href="." target="_self">
</head>
<body>


<table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td class="MainRight">投票搜索</td>
        </tr>
		 <tr>
          <td>
		  <div style="margin-left:10px; margin-top:10px; margin-bottom:10px;">
		  <form action="{:U('index')}" method="post" name="photo" id="photo">
		  <input name="ResultSea" type="hidden" value="Search">
		  <input name="key" type="text" class="input1" style="width:180px;">
		  <input name="提交" type="submit" class="but1" value="搜索评选">
		  </form>
		  </div>
		  </td>
        </tr>
      </tbody></table>


    <div class="copyright">
      <p>
         Copyright &#169; <a href="http://tp.hbxuwe.cn/">tp.hbxuwe.cn/</a> <a href="http://www.miibeian.gov.cn/" rel="nofollow"></a><br>
      </p>
    </div>

<footer class="footer">
	<menu class="footer-con">
    	<ul class="fix">
			<li class="zx"><a href="{:U('index')}">参与投票</a></li>
			<li class="yy"><a href="{:U('result2')}">投票排行</a></li>
			<li class="tel"><a href="{:U('search')}">搜索选手</a></li>
        	<!--<li class="zx"><a href="./index.html">参与投票</a></li>-->
        	<!--<li class="yy"><a href="./elegant.html">投票排行</a></li>-->
        	<!--<li class="tel"><a href="./search.html">搜索选手</a></li>-->
        	<!--<li class="yy"><a href="./../index.html">电脑版</a></li>-->
			</ul>
	</menu>
</footer>
<nav id="nav" class="nav home">
	<h3><a href="./index.html">网站首页</a></h3>
	<div id="scrollerBox" class="scrollerBox">
		<div class="scroller">
			<ul>
				<li><a href="./index.html"><span></span>参与投票</a></li>
				<li><a href="./news.html"><span></span>活动资讯</a></li>
				<li><a href="./elegant.html"><span></span>投票排行</a></li>
				<li><a href="./contact-information.html"><span></span>联系方式</a></li>
				<li><a href="./Member-Center.html"><span></span>会员中心</a></li>
				<li><a href="./Message-consultation.html"><span></span>留言咨询</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="gotop" id="gotop"><div></div></div>
<!--<script src="__TOUPIAO2__/history.js"></script>-->
<!--<script src="__TOUPIAO2__/index.js"></script>-->
<!--<script src="__TOUPIAO2__/foot.js"></script>-->

</body></html>