<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<meta http-equiv="Content-Language" content="zh-CN">
		<title>多图册集展示 - 评选中心 - 欢迎光临紫塞先锋</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link href="__TOUPIAO__/vote.css" rel="stylesheet" type="text/css">
		<link href="__TOUPIAO__/thickbox.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="__TOUPIAO__/jquery.ad-gallery.css">
		<script language="javascript" src="__TOUPIAO__/zhirui.js"></script>
		<script language="javascript" src="__TOUPIAO__/jquery-1.4.2.min.js"></script>
		<script language="javascript" src="__TOUPIAO__/thickbox.js"></script>
		<script type="text/javascript" src="__TOUPIAO__/jquery.ad-gallery.js"></script>
		<style>

			body {

                background:url("images/bg1.jpg");

            }

        </style>
	</head>

	<body>
		<div class="banner" align="center"><img src="__TOUPIAO__/head.png"></div>
		<script type="text/javascript" src="__TOUPIAO__/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#topnav li").prepend("<span></span>"); //Throws an empty span tag right before the a tag
				$("#topnav li").each(function() { //For each list item...
					var linkText = $(this).find("a").html(); //Find the text inside of the a tag
					$(this).find("span").show().html(linkText); //Add the text in the span tag
				});

				$("#topnav li").hover(function() { //On hover...
					$(this).find("span").stop().animate({
						marginTop: "-46" //Find the span tag and move it up 40 pixels
					}, 250);
				}, function() { //On hover out...
					$(this).find("span").stop().animate({
						marginTop: "0" //Move the span back to its original state (0px)
					}, 250);
				});
			});
		</script>
		<table width="999" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="Votehead">
			<tbody>
				<tr>
					<td colspan="2" valign="top" class="dy_info">
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;党的建设是党的工作的属概念，又是党务工作的种概念，它是指党为保持自己的性质而从事的一系列自我完善的活动，不仅包括党务工作，还包括党的政治建设、思想建设、组织建设、作风建设、纪律建设和制度建设等。党的建设关系重大、牵动全局。党和人民事业发展到什么阶段，党的建设就要推进到什么阶段。这是加强党的建设必须把握的基本规律。</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table width="999" border="0" cellspacing="0" cellpadding="0" background="__TOUPIAO__/maincenter.jpg" class="main_class"
		 align="center">
			<tbody>
				<tr>
					<td valign="top" class="MainVote">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td width="10" align="center"></td>
									<td style="line-height:30px;border-bottom:1px solid #DD4D04;"><a >首页</a><img
										 src="__TOUPIAO__/Arrow_02.gif" width="13" height="12" align="absmiddle"><a >评选中心</a><img
										 src="__TOUPIAO__/Arrow_02.gif" width="13" height="12"><a >年度投票评选</a></td>
								</tr>
							</tbody>
						</table>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td align="center" height="30">
										<font style="font-size:15px;font-weight: bold;">多图册集展示</font>
									</td>
								</tr>
								<tr>
									<!-- <td align="center" class="info">来源：<font color="red">转载</font>　发布时间：<font color="red">2019-4-23 9:03:42</font>
									</td> -->
								</tr>
								<tr>
									<td align="center">
										<div id="gallery" class="ad-gallery">
											<div class="ad-image-wrapper">
												<div class="ad-image" style="width: 288px; height: 400px; top: 0px; left: 156px;"><img src="__TOUPIAO__/photo.jpg"
													 width="288" height="400">
													<p class="ad-image-description" style="width: 274px;"><span>{$info.title}</span></p>
												</div><img class="ad-loader" src="__TOUPIAO__/loader.gif" style="display: none;">
												<div class="ad-next" style="height: 400px;">
													<div class="ad-next-image" style="opacity: 0.7; display: none;"></div>
												</div>
												<div class="ad-prev" style="height: 400px;">
													<div class="ad-prev-image" style="opacity: 0.7; display: none;"></div>
												</div>
											</div>
											<div class="ad-controls">
												<p class="ad-info">1 / 1</p>
												<div class="ad-slideshow-controls"><span class="ad-slideshow-start">Start</span><span class="ad-slideshow-stop">Stop</span><span
													 class="ad-slideshow-countdown" style="display: none;"></span></div>
											</div>
											<div class="ad-nav">
												<div class="ad-back" style="opacity: 0.6;"></div>
												<div class="ad-thumbs">
													<ul class="ad-thumb-list" style="width: 201px;">
														<li><a href="{$info.litpic}" class="ad-thumb0 ad-active"><img src="{$info.litpic}" width="90"
																 height="70" alt="多图册集展示" style="opacity: 1;"></a></li>
													</ul>
												</div>
												<div class="ad-forward" style="opacity: 0.6;"></div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td align="center" height="30" class="info"> 票数：[<font color="red">{$info.piao}</font> ] <!-- 人气：[<font color="red">6</font>] --><br><a
										 
										 class="thickbox"><img src="__TOUPIAO__/an1.jpg"></a></td>
								</tr>
								<tr>
									<td height="30"><b>评选介绍：</b></td>
								</tr>
								<tr>
									<td class="MainBottm">{$info.content}</td>
								</tr>
								<!-- <tr>
									<td align="right"><a onclick="history.go(0)">【刷新页面】</a><a style="cursor:hand" onclick="window.external.AddFavorite(location.href,document.title);">【加入收藏】</a><a
										 href="javascript:window.print();">【打印此文】</a> <a onclick="window.self.close()">【关闭窗口】</a></td>
								</tr> -->
								<!-- <tr>
									<td class="info">上一篇：没有了　下一篇：<a href="de">老四合美景</a></td>
								</tr> -->
							</tbody>
						</table>
						<br>

					</td>
				</tr>
			</tbody>
		</table>


		<script type="text/javascript" src="__TOUPIAO__/jquery.ad-gallery.js"></script>
		<script type="text/javascript">
			$(function() {
				var galleries = $('.ad-gallery').adGallery();
				$('#switch-effect').change(
					function() {
						galleries[0].settings.effect = $(this).val();
						return false;
					}
				);
				$('#toggle-slideshow').click(
					function() {
						galleries[0].slideshow.toggle();
						return false;
					}
				);
				$('#toggle-description').click(
					function() {
						if (!galleries[0].settings.description_wrapper) {
							galleries[0].settings.description_wrapper = $('#descriptions');
						} else {
							galleries[0].settings.description_wrapper = false;
						}
						return false;
					}
				);
			});
		</script>

		<div class="ad-preloads"></div>
	</body>
</html>
