HTML,BODY,FORM {BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px;}
IMG {BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none}
BODY {FONT-SIZE: 12px; BACKGROUND: url(bg.png) #CC0001 repeat-x left top; COLOR: #333; FONT-FAMILY: Arial, '宋体', Verdana, sans-serif}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.clear {
	CLEAR: both; DISPLAY: block; OVERFLOW: hidden; HEIGHT: 0px
}
.clearall:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; OVERFLOW: hidden; HEIGHT: 0px; content: "."
}
.banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; 
}
.main {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; BACKGROUND: url(mainback.jpg) no-repeat -2px top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.Votehead{

background-repeat:no-repeat;
padding-left:15px;
padding-right:10px;
padding-top:15px;
}
.main_top {
	CLEAR: both
}
.MainTitle {
	PADDING-LEFT: 15px; BACKGROUND: url(Inbg.png) no-repeat -2px top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; font-size:14px; color:#FFFFFF; height:40px;font-weight: bold;
}
.button{padding:1px;cursor:hand;display:inline;color: #000000; font-weight: normal;border:1px solid #A0BACD;background: #FFFFFF; font-style:normal; font-variant:normal; font-size:12px; font-family:Tahoma, Verdana}
.MainTitle a { color:#FFFFFF}
.MainAbout {
	PADDING-LEFT: 50px; BACKGROUND: url(ge.jpg) no-repeat -2px top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; font-size:14px; color:#FFFFFF; height:40px;font-weight: bold;
}
.MainAbout2 {
	PADDING-LEFT: 50px; BACKGROUND: url(get.jpg) no-repeat -2px top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; font-size:14px; color:#FFFFFF; height:40px;font-weight: bold;
}
.MainRight {
	PADDING-LEFT: 30px; BACKGROUND: url(Iright.png) no-repeat -2px top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; font-size:14px; color:#ffffff; font-weight: bold; line-height:40px
}
.main_class{
background-color:#FFFFFF;
}
.MainVote {

	background-repeat:repeat-y;
	padding-left:15px;
	padding-right:10px;
	padding-top:5px;
}
.infocent{ border:1px dashed #FD380B; margin:2px;padding-top:5px; padding-bottom:5px; line-height:24px;}
.MainBottm{line-height:25px;}
.but1 {
    font-family: "tahoma", "宋体"; 
    font-size:9pt; color: #003399;
    border: 1px #003399 solid;
    color:#006699;
    border-bottom: #93bee2 1px solid;
    border-left: #93bee2 1px solid;
    border-right: #93bee2 1px solid;
    border-top: #93bee2 1px solid;
    background-image:url(../images/bluebuttonbg.gif);
    background-color: #e8f4ff;
    cursor: hand;
    font-style: normal ;
    width:60px;
    height:22px;
}

.noticeleft {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 640px; POSITION: relative
}
INPUT.textinput {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9b9b9b 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #9b9b9b 1px solid; COLOR: #333; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 24px
}
.dy_info {
		PADDING-LEFT:3px; TEXT-INDENT: 5px; LINE-HEIGHT: 24px; PADDING-TOP: 3px
}
.Vote_box IMG {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 150px; HEIGHT: 110px;
}
.Vote_box A:hover {
	BACKGROUND: #e7e5e5
}
.Vote_box A {
	 DISPLAY: block; BACKGROUND: #fff; 
}
.articlel{PADDING-LEFT: 20px; BACKGROUND: url(ico.gif) no-repeat left 6px; LINE-HEIGHT: 28px; BORDER-BOTTOM: #8a8d8c 1px dashed; POSITION: relative; HEIGHT: 28px}
.articler{PADDING-LEFT: 20px;LINE-HEIGHT: 28px; BORDER-BOTTOM: #8a8d8c 1px dashed; POSITION: relative; HEIGHT: 28px}
.voteindex{LINE-HEIGHT: 28px;}
.info{line-height:30px;border-bottom:1px dashed #FD380B; border-top:1px dashed #FD380B;}
.main-Pl{line-height: 25px;border-bottom: 1px solid #DCE8F3;padding:1px 1px 1px 15px;font-size:12px;color: #10426C;}
.newarticle H2 {
	BACKGROUND: url(xwz.jpg) no-repeat 1px center; LINE-HEIGHT: 40px; HEIGHT: 40px
}
.newarticle H2 SPAN {
	DISPLAY: none
}
.newarticle UL {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 233px
}
.newarticle LI {
	PADDING-LEFT: 20px; BACKGROUND: url(ico.gif) no-repeat left 6px; LINE-HEIGHT: 28px; BORDER-BOTTOM: #8a8d8c 1px dashed; POSITION: relative; HEIGHT: 28px
	
}
.newarticle LI SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; RIGHT: 0px; COLOR: #2e5e11; POSITION: absolute; TOP: 0px
}
.copyright {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 40px; PADDING-TOP: 10px
}
.copyright LI {
	COLOR: #fff; LINE-HEIGHT: 31px; HEIGHT: 31px; TEXT-ALIGN: center
}
.footmenu {
	Z-INDEX: 8888; BACKGROUND: #fff; FILTER: alpha(Opacity=80); LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 30px; BORDER-BOTTOM: #ccc 1px solid; POSITION: fixed; TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center; moz-opacity: 0.8; opacity: 0.8
}
INPUT.textinput {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9b9b9b 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #9b9b9b 1px solid; COLOR: #333; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 24px
}
.reglist LI.sex INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.reglist LI LABEL {
	FLOAT: left; WIDTH: 100px; TEXT-ALIGN: right
}
/*移动图*/
.blk_29 {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; PADDING-TOP: 10px; ZOOM: 1; POSITION: relative}
.blk_29 .LeftBotton {BACKGROUND: url(hz.gif) no-repeat 0px 0px; LEFT:0px; FLOAT: left; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; TOP: 10px; HEIGHT: 80px}
.blk_29 .RightBotton {RIGHT: 0px; BACKGROUND: url(hz.gif) no-repeat -11px 0px; FLOAT: right; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; TOP: 10px; HEIGHT: 80px}
.blk_29 .box {FLOAT: left; WIDTH:106px; TEXT-ALIGN: center}
.rollphotos {WIDTH: 160px}
.searchbox_submit{
	float:left;
	cursor:pointer;
	border:0;
	width:70px;
	height:22px;
	line-height:22px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	background-position:0 -592px;
	margin-left:3px;
}

.index_box { width:970px;}
.index_box ul{ margin:0; padding:0; float:left}
.index_box ul li{ float:left; padding:10px; text-align:center; width:170px; line-height:1.8em}
.index_box ul li img { border: #E6E6E6 1px solid; padding:2px;}
.index_box ul li a:hover img{ border: #FF3300 1px solid; padding:2px}

.news ul{ margin:5px 10px}
.news ul li{ line-height:25px; border-bottom:#F7877D 1px  dashed; font-size:13px; padding-left:30px; background:url(close.gif) no-repeat}
.news ul li span{ float:right}

.vote_box { width:680px;}
.vote_box ul{ margin:0; padding:0; float:left}
.vote_box ul li{ float:left; padding:2px; text-align:center; width:164px; line-height:1.8em; height:250px}
.vote_box ul li img { border: #E6E6E6 1px solid; padding:1px;max-width:136px;}
.vote_box ul li a:hover img{ border: #FF3300 1px solid; padding:1px}

.page { text-align:center; width:680px; line-height:40px ; border-top:#FF3300 1px dashed}
.votecontent { text-align:center; width:680px; }
.votecontent .title{ font-size:14px; font-weight:bold; line-height:50px; border-bottom:#FF0000 1px  dashed}
.votecontent .title2{ line-height:30px; text-align:center}
.votecontent .titlecontent{width:680px; border-bottom:#FF3300 2px solid; text-align:left; font-size:0px}
.votecontent .titlecontent span{ padding:6px 10px; background-color:#FF0000; line-height:30px; color:#FFFFFF; margin-left:20px; font-size:14px; font-weight:bold}
.votecontent .content{width:680px;  text-align:left; font-size:14px;}
.votecontent .boan{width:680px;  text-align: right; font-size:12px}
.votecontent .sxt ul{ border-bottom:#FF3300 1px dashed; font-size:12px; margin:0}

#menu_out{width:1002px;background:url(menu_left.gif) no-repeat left top;margin:0px auto 10px auto;}
#menu_in{background:url(menu_right.gif) no-repeat right top;padding-right:4px;}
#menu{height:46px;}
#menu ul{padding:0;border:0;list-style:none;line-height:150%;margin-left:4px;}
#topnav ul{font-size: 14px;float: left;}
#topnav li{width:142px; overflow: hidden; float: left; height:46px;}
#topnav a, #topnav span {width:142px;padding:11px 0;text-align:center;float: left; text-decoration: none; color: #fff;text-transform: uppercase;clear: both;height: 24px;line-height: 24px;font-size: 14px; font-weight:bold}

#topnav span{background: url(a_bg.gif) repeat-x left top;}
#topnav a{color: #000;background: url(a_bg.gif) repeat-x left bottom;}


  .example {
    border: 1px solid #CCC;
    background: #f2f2f2;
    padding: 10px;
  }
  ul {
    list-style-image:url(list-style.gif);
  }
  pre {
    font-family: "Lucida Console", "Courier New", Verdana;
    border: 1px solid #CCC;
    background: #f2f2f2;
    padding: 10px;
  }
  code {
    font-family: "Lucida Console", "Courier New", Verdana;
    margin: 0;
    padding: 0;
  }

  #gallery {
    padding: 30px;
  }
  #descriptions {
    position: relative;
    height: 50px;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
  }
    #descriptions .ad-image-description {
      position: absolute;
    }
      #descriptions .ad-image-description .ad-description-title {
        display: block;
      }
	  
	 .indexnews {}
	 .indexnews ul{ margin-left:5px; }
	 .indexnews ul li{ border-bottom: #FD6857 1px dashed; line-height:30px; list-style-type: none;background:url(dt.gif) no-repeat; padding-left:35px; background-position:0% 5px;
}
	 .indexnews ul li span{ float:right}
	 
	 .tiemtitle,.tiemtitle p{ color:#FFFFFF; font-weight:bold} 
	 
	 .kuang { border-bottom:#FF3300 1px solid; border-right:#FF3300 1px solid ;border-left:#FF3300 1px solid}
.shadow {
-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000)";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
/* 以下为自动菜单导航设置*/

nav{
  text-align:center;
  margin:0 auto;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.dropdown{ 
  position: relative; 
  width: 100%; 
}

ul.dropdown li{ 
  font-weight: bold; 
  float: left; 
  width: 120px; 
  position: relative;
  background: #C43B05; /* 一级导航背景色*/
}

ul.dropdown a:hover{ 
  color: #000; 
}
ul.dropdown li a { 
  display: block; 
  padding: 12px 8px;
  color: #ffffff; /* 一级导航字体色*/
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-size:12px;
  
}
ul.dropdown li a:hover,
ul.dropdown li a.hover{ 
  background: #FA6000; /* 点击导航背景色*/
  position: relative;
  color: #fff;
}
ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 90px; 
  z-index: 1000;
}

ul.dropdown ul li { 
  font-weight: normal; 
  background: #f6f6f6; 
  color: #000; 
  border-bottom: 1px solid #ccc; 
}

ul.dropdown ul li a{ 
  display: block; 
  color: #000 !important;/* 二级字体色*/
  background: #eee !important; /* 二级背景色*/
} 

ul.dropdown ul li a:hover{
  display: block; 
  background: #FA6000 !important; /* 点击导航背景色*/
  color: #fff !important;
} 

.drop > a{
  position: relative;
}

.drop > a:after{
  position: absolute;
  right: 10px;
  top: 40%;
  border-left: 5px solid transparent;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  z-index: 999;
}

.drop > a:hover:after{
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}


