<extend name="Public:base" />
<block name="header_js">
<script type="text/javascript" src="__DATA__/editor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__DATA__/editor/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
$(function(){
    var ue = UE.getEditor('inputContent',{
        serverUrl :"{:U('Public/editorMethod')}"
    });
})
</script>

<script type="text/javascript" src="__PUBLIC__/js/calendar.config.js"></script>
<script type="text/javascript" src="__DATA__/static/jq_plugins/iColorPicker/iColorPicker.js"></script>

<script type="text/javascript">
$(function () {
	//缩略图上传
	var litpic_tip = $(".litpic_tip");
	var btn = $(".up-picture-btn span");
	$("#fileupload").wrap("<form id='myupload' action='{:U('Public/upload',array('img_flag' => 1))}' method='post' enctype='multipart/form-data'></form>");
    $("#fileupload").change(function(){
    	if($("#fileupload").val() == "") return;
		$("#myupload").ajaxSubmit({
			dataType:  'json',
			beforeSend: function() {
        		$('#litpic_show').empty();
				btn.html("上传中...");
    		},
			success: function(data) {
				if(data.state == 'SUCCESS'){
					var fileSize = parseFloat(data.info[0].size/1024).toFixed(2);
					litpic_tip.html(""+ data.info[0].name +" 上传成功("+ fileSize +"k)");
					var img = data.info[0].url;//原图
					var timg = data.info[0].turl;//缩略图
					$('#litpic_show').html("<img src='"+timg+"' width='120'>");
					$("#litpic").val(timg);
				}else {
					litpic_tip.html(data.state);		
				}			
					btn.html("添加图片");

			},
			error:function(xhr){
				btn.html("上传失败");
				litpic_tip.html(xhr);
			}
		});
	});
	
	//文件上传
	var file_tip = $(".file_tip");
	var filebtn = $(".up-file-btn span");
	$("#fileuploadF").wrap("<form id='myfileuploadform' action='{:U('Public/upload')}' method='post' enctype='multipart/form-data'></form>");
    $("#fileuploadF").change(function(){
    	if($("#fileuploadF").val() == "") return;
		$("#myfileuploadform").ajaxSubmit({
			dataType:  'json',
			beforeSend: function() {
				filebtn.html("上传中...");
				file_tip.html("上传中...");
    		},
			success: function(data) {
				if(data.state == 'SUCCESS'){	
					var fileSize = parseFloat(data.info[0].size/1024).toFixed(2);				
					file_tip.html(""+ data.info[0].name +" 上传成功("+ fileSize +"k)");
					$('#inputDownlink').val(data.info[0].url);
					//$('#inputDownlink').val(data.info[0].url + '\n' + $('#inputDownlink').val());
					//$("#inputFilesize").val(fileSize+"KB");
				}else {
					file_tip.html(data.state);		
				}			
					filebtn.html("添加文件");

			},
			error:function(xhr){
				filebtn.html("上传失败");
				file_tip.html(xhr);
			}
		});
	});

	$('#CK_JumpUrl').click(function(){
            if($(this).prop('checked')) {
                $('#JumpUrlDiv').show();

            }else {
                $('#JumpUrlDiv').hide();
            }
            
     });
	
});
$(function () {

	$('#BrowerPicture').click(function(){
		layer.open({
			type: 2,
			title: '系统提示',
			shadeClose: true,
			shade: 0.5,
			area: ['670px', '350px'],
			content: "{:U('Public/browseFile', array('stype' => 'picture'))}"
		});
	});	

});
function selectPicture(sfile) {
	layer.msg('选择文件成功')
	$("#litpic").val(sfile);
	$('#litpic_show').html("<img src='"+sfile+"' width='120'>");
}
</script>
	
</block>

<block name="content">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header"><em class="glyphicon glyphicon-edit"></em> 
			修改文章  
		    </h3>
		</div>
		
	</div>


	<div class="row">
		<div class="col-lg-12">

				<form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('edit')}">											

					<div class="form-group">
						<label for="inputTtitle" class="col-sm-2 control-label">题目</label>
						<div class="col-sm-9">
							<input type="text" name="name" id="inputTtitle" value="{$vo.name}" class="form-control" placeholder="题目" required="required" />
						</div>
					</div>

					<div class="form-group">
						<label for="inputProName" class="col-sm-2 control-label">所属栏目</label>
						<div class="col-sm-9">
							<select name="cid" class="form-control">
								<volist name="cate" id="v">
								<option value="{$v.id}" <if condition="$vo['cid'] eq $v['id']">selected="selected"</if>>{$v.delimiter}{$v.name}</option>
								</volist>
							</select>									
						</div>
					</div>
					<if condition="count($vo['item']) gt 0">
						<div class="form-group">
							<volist name="vo['item']" id="v" key="k">
								<label for="inputKeywords" class="col-sm-2 control-label">选项{$xuanxiang[$k-1]}</label>
								<div class="col-sm-9">
									<input type="text" name="item[]" id="inputKeywords" class="form-control" value="{$v}" placeholder="选项" />
								</div>
							</volist>
						</div>
					<else />
						<div class="form-group">
							<label for="inputKeywords" class="col-sm-2 control-label">选项A1</label>
							<div class="col-sm-9">
								<input type="text" name="item[]" id="inputKeywords" class="form-control" value="" placeholder="选项"/>
							</div>
							<label for="inputKeywords" class="col-sm-2 control-label">选项B</label>
							<div class="col-sm-9">
								<input type="text" name="item[]" id="inputKeywords2" class="form-control" value="" placeholder="选项" />
							</div>
							<label for="inputKeywords" class="col-sm-2 control-label">选项C</label>
							<div class="col-sm-9">
								<input type="text" name="item[]" id="inputKeywords3" class="form-control" value="" placeholder="选项" />
							</div>
							<label for="inputKeywords" class="col-sm-2 control-label">选项D</label>
							<div class="col-sm-9">
								<input type="text" name="item[]" id="inputKeywords4" class="form-control" value="" placeholder="选项" />
							</div>
						</div>
					</if>
					<div class="form-group">
						<label for="inputDescription" class="col-sm-2 control-label">解析</label>
						<div class="col-sm-9">
							<textarea name="fenxi" id="inputDescription" class="form-control">{$vo.fenxi}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="inputAuthor" class="col-sm-2 control-label">正确答案</label>
						<div class="col-sm-9">
							<input type="text" name="anwser" id="inputAuthor" class="form-control"  value="{$vo.anwser}" placeholder="正确答案" />
						</div>
					</div>
					<div class="form-group">
						<label for="inputAuthor" class="col-sm-2 control-label">选为考试题（0不选1选中）</label>
						<div class="col-sm-9">
							<input type="text" name="status"  class="form-control"  value="{$vo.status}" placeholder="正确答案" />
						</div>
					</div>
					
					<div class="row margin-botton-large">
						<div class="col-sm-offset-2 col-sm-9">
							<input type="hidden" name="id" value="{$vo.id}" />
							<input type="hidden" name="pid" value="{$pid}" />
                            <input type="hidden" name="p" value="{$_GET['p']}" />
							<div class="btn-group">
								<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>
									保存
								</button>
								<button type="button" onclick="goUrl('{:U('index')}')" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i>
									返回
								</button>
							</div>
						</div>
					</div>
				</form>
	
		</div>
	</div>

		


</block>